---
import BaseLayout from '../layouts/BaseLayout.astro';
import Social from '../components/Social.astro';
---

<BaseLayout>
  <h1>hello I'm petr (also known as xypp3) </h1>
  <h3>welcome to my little side of the internet 🌱</h3>
  <p>
    I'm a fan of a broad range of CS topics from programming languages to kernels and HPC. 
    Outside of computers I also like cooking, food and stories (TTRPG games I run and play (Blades in the Dark and DnD 5e)).
  </p>
  <p>
    You can also find my code over here:
  </p>
  <Social platform="github" username="xypp3" />
</BaseLayout>

<style>
  a {
    color: #89CE00;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #89CE00;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #89CE00;
  }
</style>
