---
import Navigation from "./Navigation.astro";
---

<div class="nav-links">
  <header>
    <nav>
      <Navigation />
    </nav>
  </header>
</div>

<style>
  nav {
  display: flex;
  justify-content: center;
  text-transform: none;
  }

  a {
    color: inherit;
    text-decoration: none !important;
  }

  a:visited,
  a:active,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none !important;
  }
</style>