---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<div class="nav-links">
  <header>
    <nav>
      <Hamburger />
      <Navigation />
    </nav>
  </header>
</div>
